<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}
    
    <section>
        <h1>Welcome Flying Trade</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore odio veniam tempora pariatur. Laboriosam, neque? Hic similique dolores et pariatur ex, illo minima, porro ea perspiciatis consequatur magnam velit quisquam.</p>
    </section>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>