<nav>
    <div class="logo">
        <h2>Flying Trade</h2>
    </div>
    <ul>
        <li class="box"><a href="/">Home</a></li>
        <li class="box"><a href="/about">about</a></li>
        <li class="box"><a href="/login">Sign in</a></li>
        <li class="box"><a href="/register">Sign up</a></li>
        <li class="box"><a href="/logout">log out</a></li>
        <box-icon name='log-in' flip='vertical' color='#eaeaea' ></box-icon>
    </ul>

</nav>
